.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-form-field {
  font-size: 16px;
  width: 50%;
}

.filter-fx{
  display: flex;
  justify-content: center;
}

.example-card {
  max-width:720px;
  margin-bottom:40px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.mat-list-fix{
padding-bottom:2px;
padding-top:14px;
}

.header-start-section{
  overflow: hidden;
  position: relative;
  height: 420px;
  background: #f44336;
}

.filter-search{
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 200;
}

.mat-h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  margin: 15px 5px;
}

.mat-h2{
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0 25px;
  display: block;
}

.header-section{
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header-headline{
  color: #fff;
  display: block;
}

.postedby-heading{
display:inline-flex;
padding-bottom:2px;
padding-top:30px;
}

.recipe-image-section{
max-height: 500px;
width: 100%;
object-fit: contain;
margin: auto;
display: block;
border-radius:8px;
}
