<div class="header-start-section">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">
        Recipe App
      </h1>
      <h2 class="mat-h2">You're not logged</h2>
      <div class="header-start">
        <button style="margin-left: 10px;" mat-raised-button color="accent" *ngIf="(afAuth.authState | async) === null" (click)="signIn()">Sign In</button>
        <button style="margin-left: 10px;" mat-raised-button color="basic" *ngIf="(afAuth.authState | async)" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</div>

<div style="margin: 40px;" *ngIf="(afAuth.authState | async)">
<mat-card>
  You're logged. Add new recipe
</mat-card>
</div>
