mat-form-field{
  width:100%;
}
.example-chip-list {
  width: 100%;
}
[type="file"] {
  color: #181515;
}
[type="file"]::-webkit-file-upload-button {
  background: red;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}
